<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h3>상품등록</h3>
<form action="/prod/add" method="post">
<table border="1">
	<tr><th>name</th><td><input type="text" name="name"></td></tr>
	<tr><th>price</th><td><input type="text" name="price"></td></tr>
	<tr><th>amount</th><td><input type="text" name="amount"></td></tr>
	<tr><th>seller</th>
	<td><input type="text" name="seller" th:value="${session.loginId}" readonly></td></tr>
</table>
	<input type="submit" value="등록">
</form>
</body>
</html>