<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h3>게시판</h3>
<!-- http://localhost:8081/member/ 로 접속 -->
[[${msg}]]
<div th:if="${session.loginId == null}">
	<a href="/member/join">회원가입</a><br/>
	<a href="/member/login">로그인</a><br/>
</div>


<div th:if="${session.loginId != null }">
[[${session.loginId}]] 님의 타입은 [[${session.type}]] 입니다.<br/>
	<a href="/member/detail">내 정보 확인</a><br/>
	<a href="/member/logout">로그아웃</a><br/>
	<a href="/member/out">탈퇴</a><br/>
	<a href="/board/list">글목록</a><br/>
</div>
	
<!-- Thymeleaf는 session 객체의 속성에 접근할 때 자동으로 getAttribute("loginId") 메서드를 호출하여 값을 가져옵니다. 
	즉, session.loginId는 session.getAttribute("loginId")와 동일하게 처리됩니다. -->

</body>
</html>